thead, tfoot {
  background-color: #f5f5f5;
}
.text-center {
  text-align: center;
}
.align-center {
  -webkit-box-align: center;
  align-items: center;
}
.disable {
  opacity: 0.4 !important;
}
.handle {
  cursor: grab;
}
.handle:active {
  cursor: grabbing;
}
.cell-xs {
  width: 3rem;
  min-width: 3rem;
  max-width: 3rem;
}
.cell-sm {
  min-width: 6rem;
}
.cell-md {
  min-width: 8rem;
}
.cell-lg {
  min-width: 18rem;
}
.cell-xl {
  max-width: 30rem;
}
.handle {
  opacity: 0.6;
}
[class*=icheck-] > label {
  font-weight: normal !important;
}
.text-dashboard-blue {
    color: #3b8bba;
}
.text-dashboard-grey {
    color: #c1c7d1;
}
/* Custom Scroll Bar
   ========================================================================== */ ::-webkit-scrollbar {
  width: 5px;
       height: 5px;
}
::-webkit-scrollbar-track {
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
  background: #dbdbdb;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
  background: #999;
}
/* Header
   ========================================================================== */
.main-header .navbar-nav .user-image {
  height: auto;
  width: 32px;
  padding: 0;
}
.nav-sidebar .nav-treeview .nav-item a {
  padding-left: 2.5625rem;
}
.brand-image {
  opacity: .9;
}
/* 【登入】
   ========================================================================== */
.login-page .form-control {
  width: auto;
}
/* 【儀表板 Dashboard】
   ========================================================================== */
.info-box .info-box-number {
  display: block;
  font-weight: 700;
  font-size: 1rem;
}
.info-box .progress-description, .info-box .info-box-text {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.info-box .progress {
  height: 8px;
}
.info-box .progress .progress-bar {
  background-color: #007bff;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #2e3e4a;
}
@media (min-width: 768px) {
  .col-xl-3 .info-box .progress-description, .col-lg-3 .info-box .progress-description, .col-md-3 .info-box .progress-description {
    display: block;
  }
}
.bg-info {
  background-color: #2e3e4a !important;
}
.info-box {
  min-height: 0;
}
.info-box .info-box-icon {
  font-size: 1.25rem;
  width: 50px;
}
/* 上傳進度 */
.b-upload-task {
  font-size: 0.75rem;
}
.b-upload-task.table-striped tbody tr:nth-of-type(odd) {
  background: none;
}
.b-upload-task.table thead > tr > th:first-of-type, .b-upload-task.table thead > tr > td:first-of-type, .b-upload-task.table tbody > tr > th:first-of-type, .b-upload-task.table tbody > tr > td:first-of-type {
  padding-left: 1rem !important;
}
.b-upload-task.table thead > tr > th:last-of-type, .b-upload-task.table thead > tr > td:last-of-type, .b-upload-task.table tbody > tr > th:last-of-type, .b-upload-task.table tbody > tr > td:last-of-type {
  padding-right: 0.5rem !important;
}
.b-upload-task.table thead > tr:nth-of-type(even) > th:first-of-type, .b-upload-task.table thead > tr:nth-of-type(even) > td:first-of-type, .b-upload-task.table tbody > tr:nth-of-type(even) > th:first-of-type, .b-upload-task.table tbody > tr:nth-of-type(even) > td:first-of-type {
  padding-left: 0.25rem !important;
}
.b-upload-task.table tr:nth-of-type(odd) td {
  padding-bottom: 0;
}
.b-upload-task.table tr:nth-of-type(even) td {
  border-top: 0;
  padding-top: 0;
}
.b-upload-task th, .b-upload-task tr, .b-upload-task td {
  padding: 0.25rem;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.b-upload-task .progress {
  height: 0.75rem;
    border-radius: 6px;
}


.users-list img {
    width: 48px;
    height: 48px;
}
.users-list > li {
    width: 12.5%;
}
.users-list .users-list-location {
        color: #748290;
    font-size: 12px;
}

/* 【主頁 Home】
   ========================================================================== */
/* 橫額設定 */
.b-banner-image {
  width: 540px;
}
.b-banner-image img {
  position: relative;
  max-width: 540px;
}
.b-banner-thumbnail {
  position: relative;
  background-color: #dbdbdb;
  width: 120px;
}
.b-banner-responsive {
  position: relative;
  overflow: hidden;
  -webkit-box-flex: 1;
  flex: 1 0 auto;
  display: -webkit-box;
  display: flex;
  z-index: 0;
}
.b-banner-sizer {
  -webkit-box-flex: 0;
  flex: 0 0 0px;
  padding-bottom: 27.77%;
}
.b-banner-content {
  -webkit-box-flex: 1;
  flex: 1 0 0px;
}
/* 【相簿 Album】
   ========================================================================== */
.b-album-head, .b-collection-head {
  min-width: 20rem;
  max-width: 30rem;
}
.b-album-block {
  display: block;
  position: relative;
  border-radius: inherit;
  float: left;
}
.b-album-thumbnail {
  position: relative;
  background-color: #dbdbdb;
  border-radius: 4px;
  width: 80px;
}
.b-album-responsive {
  position: relative;
  overflow: hidden;
  -webkit-box-flex: 1;
  flex: 1 0 auto;
  display: -webkit-box;
  display: flex;
  z-index: 0;
  border-radius: 4px;
}
.b-album-sizer {
  -webkit-box-flex: 0;
  flex: 0 0 0px;
  padding-bottom: 100%;
}
.b-album-category-sizer {
  -webkit-box-flex: 0;
  flex: 0 0 0px;
  padding-bottom: 66.66%;
}
.b-album-content {
  -webkit-box-flex: 1;
  flex: 1 0 0px;
}
.b-album-image {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* 精選相片 */
.b-photo-image {
  min-width: 100px;
  min-height: 100px;
  text-align: center;
}
.b-photo-image img {
  position: relative;
  max-width: 100px;
  max-height: 100px;
}
.b-photo-image a {
  display: inline-block;
  position: relative;
}
.b-photo-image-enlarge img {
  display: none;
  position: absolute;
  z-index: 1100;
  max-width: 500px;
  max-height: 500px;
  width: auto;
  top: 50%;
  left: calc(100% + 1rem);
  transform: translateY(-50%);
}
/* 【影音 Video】
   ========================================================================== */
/* Soonnet TV 列表 + 一般影片列表 */
.b-filter {
  display: block;
  position: relative;
}
.b-filter a {
  padding: 6px 10px;
  margin-right: 10px;
  background-color: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}
.b-filter .current {
  background-color: #2e3e4a;
  color: #fff !important;
}
.b-video-head {
  min-width: 20rem;
  max-width: 30rem;
}
.b-video-block, .b-image-block {
  display: block;
  position: relative;
  border-radius: inherit;
  float: left;
}
.b-video-thumbnail, .b-image-thumbnail {
  position: relative;
  background-color: #dbdbdb;
  border-radius: 4px;
  width: 120px;
}
.b-video-responsive, .b-image-responsive {
  position: relative;
  overflow: hidden;
  -webkit-box-flex: 1;
  flex: 1 0 auto;
  display: -webkit-box;
  display: flex;
  z-index: 0;
  border-radius: 4px;
}
.b-video-sizer, .b-image-sizer {
  -webkit-box-flex: 0;
  flex: 0 0 0px;
  padding-bottom: 56.25%;
}
.b-video-content, .b-image-content {
  -webkit-box-flex: 1;
  flex: 1 0 0px;
}
.b-layout {
  display: -webkit-box;
  display: flex;
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  flex-wrap: nowrap;
  min-width: 0;
}
.b-layout-flex {
  flex-basis: 100%;
  -webkit-box-flex: 0;
  flex-grow: 0;
  max-width: 100%;
}
.b-video-image {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.b-duration {
  position: absolute;
  background-color: rgba(0, 0, 0, .8);
  color: #fff;
  border-radius: 2px;
  bottom: 4px;
  right: 4px;
  padding: 2px 4px;
  line-height: 14px;
  font-size: 0.75rem;
}
.b-title {
  position: relative;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  white-space: normal;
  word-break: break-word;
  vertical-align: top;
}
.b-tag {
  position: relative;
  display: block;
  font-size: 12px;
  bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.b-tag a {
  display: inline-flex;
  margin-right: 8px;
  padding: 2px 6px;
  background-color: #eee;
  color: #424242 !important;
  border-radius: 2px;
  margin-top: 0.25rem;
}
.b-subtext {
  display: block;
  font-size: 0.8125rem;
  color: #757575;
}
.b-published::before, .b-processed::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #28a745;
  margin-right: 2px;
}
.b-processing::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #ffc107;
  margin-right: 2px;
}
.b-unpublished::before, .b-unprocessed::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #dc3545;
  margin-right: 2px;
}
.b-charge::before {
  content: '\f155';
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 900;
  color: #ffc107;
  display: inline-block;
  text-align: center;
  width: 1.25em;
}
.b-public::before {
  content: '\f06e';
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 900;
  color: #28a745;
  display: inline-block;
  text-align: center;
  width: 1.25em;
}
.b-unlisted::before {
  content: '\f070';
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 900;
  opacity: .65;
  display: inline-block;
  text-align: center;
  width: 1.25em;
}
.b-private::before {
  content: '\f023';
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 900;
  opacity: .65;
  display: inline-block;
  text-align: center;
  width: 1.25em;
}
.b-resolution, .b-file-size {
  display: block;
}
.b-operate-btn {
  display: block;
  color: #007bff;
}
.b-operate-btn:hover {
  color: #0056b3;
}
/* 精選項目 */
#featured .b-uploader {
  display: block;
  color: #757575;
}
/* 【影音】節目列表
   ========================================================================== */
.list-group {
  display: table-row-group !important;
}
.list-group-item {
  display: table-row !important;
}
#b-programme .b-programme-head {
  min-width: 20rem;
  max-width: 40rem;
}
#b-programme .b-programme-block {
  display: block;
  position: relative;
  border-radius: inherit;
  float: left;
}
#b-programme .b-programme-thumbnail {
  position: relative;
  background-color: #dbdbdb;
  border-radius: 4px;
  width: 150px;
}
#b-programme .b-programme-responsive {
  position: relative;
  overflow: hidden;
  -webkit-box-flex: 1;
  flex: 1 0 auto;
  display: -webkit-box;
  display: flex;
  z-index: 0;
  border-radius: 4px;
}
#b-programme .b-programme-sizer {
  -webkit-box-flex: 0;
  flex: 0 0 0px;
  padding-bottom: 56.25%;
}
#b-programme .b-programme-image {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#b-programme .b-episode {
  position: absolute;
  background-color: rgba(0, 0, 0, .8);
  color: #fff;
  border-radius: 2px;
  bottom: 4px;
  right: 4px;
  padding: 2px 4px;
  line-height: 14px;
  font-size: 0.75rem;
}
#b-programme .b-title {
  display: block;
  font-size: 1rem;
  font-weight: bold;
}
#b-programme .b-intro {
  display: block;
  color: #757575;
}
#b-programme .b-category span {
  display: block;
}
/* 【賽事】賽事列表
   ========================================================================== */
#b-event .b-tag {
  position: relative;
  display: block;
  font-size: 12px;
  bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#b-event .b-tag a {
  display: table;
  width: auto;
  margin-right: 8px;
  padding: 2px 6px;
  background-color: #eee;
  color: #424242 !important;
  border-radius: 2px;
  margin-top: 0.25rem;
}
/* 【話題】文章列表
   ========================================================================== */
#b-article .b-article-head {
  min-width: 20rem;
  max-width: 30rem;
}
#b-article .b-article-block {
  display: block;
  position: relative;
  border-radius: inherit;
  float: left;
}
#b-article .b-article-thumbnail {
  position: relative;
  background-color: #dbdbdb;
  border-radius: 4px;
  width: 120px;
}
#b-article .b-article-responsive {
  position: relative;
  overflow: hidden;
  -webkit-box-flex: 1;
  flex: 1 0 auto;
  display: -webkit-box;
  display: flex;
  z-index: 0;
  border-radius: 4px;
}
#b-article .b-article-sizer {
  -webkit-box-flex: 0;
  flex: 0 0 0px;
  padding-bottom: 56.25%;
}
#b-article .b-article-content {
  -webkit-box-flex: 1;
  flex: 1 0 0px;
}
#b-article .b-article-image {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.b-source-head {
  line-height: 80px;
}
.b-source-block {
  display: block;
  position: relative;
  border-radius: inherit;
  float: left;
}
.b-source-thumbnail {
  position: relative;
  background-color: #dbdbdb;
  border-radius: 4px;
  width: 80px;
}
.b-source-responsive {
  position: relative;
  overflow: hidden;
  -webkit-box-flex: 1;
  flex: 1 0 auto;
  display: -webkit-box;
  display: flex;
  z-index: 0;
  border-radius: 4px;
}
.b-source-sizer {
  -webkit-box-flex: 0;
  flex: 0 0 0px;
  padding-bottom: 100%;
}
.b-source-image {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.b-source-content {
  -webkit-box-flex: 1;
  flex: 1 0 0px;
}
/* 【用戶 User】
   ========================================================================== */
.user-image {
  height: auto;
  width: 36px;
}
/* 【頁腳 Footer】
   ========================================================================== */
.b-status-display::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #28a745;
  margin-right: 2px;
}
.b-status-hidden::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #dc3545;
  margin-right: 2px;
}
/* 【廣告】
   ========================================================================== */
#b-ad .b-ad-image {
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#b-ad .b-advertiser-logo {
  width: 8rem;
  text-align: center;
}
#b-ad .b-advertiser-logo img {
  height: 50px;
}
#b-ad .b-caption {
  position: relative;
  display: block;
  font-size: 12px;
  bottom: 0;
  white-space: nowrap;
  overflow: hidden;
}
#b-ad .b-ad-name a {
  display: inline-block;
  position: relative;
}
#b-ad .b-ad-name a img {
  display: none;
  position: absolute;
  z-index: 1100;
  min-height: 90px;
  max-height: 500px;
  top: 50%;
  left: calc(100% + 1rem);
  transform: translateY(-50%);
}
/* 【社交動態 Feed】
   ========================================================================== */
#b-feedpost .b-feedpost-content {
  min-width: 10rem;
  max-width: 20rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-word;
}
/* 【系統設定 Setting】
   ========================================================================== */
#b-setting .b-logo-nightmode {
    background-color: #2e3e4a;
}