thead, tfoot {
  background-color: #f5f5f5;
}
.text-center {
  text-align: center;
}
.align-center {
  -webkit-box-align: center;
  align-items: center;
}
.disable {
  opacity: 0.4 !important;
}
.handle {
  cursor: grab;
}
.handle:active {
  cursor: grabbing;
}
.cell-xs {
  width: 3rem;
  min-width: 3rem;
  max-width: 3rem;
}
.cell-sm {
  min-width: 6rem;
}
.cell-md {
  min-width: 8rem;
}
.cell-lg {
  min-width: 18rem;
}
.cell-xl {
  max-width: 30rem;
}
.handle {
  opacity: 0.6;
}
[class*=icheck-] > label {
  font-weight: normal !important;
}
/* Custom Scroll Bar
   ========================================================================== */ ::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
  background: #dbdbdb;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
  background: #999;
}
/* Header
   ========================================================================== */
.main-header .navbar-nav .user-image {
  height: auto;
  width: 32px;
  padding: 0;
}
.nav-sidebar .nav-treeview .nav-item a {
  padding-left: 2.5625rem;
}
.brand-image {
  opacity: .9;
}
/* 【主頁】
   ========================================================================== */
.banner-image {
  width: 540px;
}
.banner-image img {
  position: relative;
  max-width: 540px;
}

.banner-thumbnail {
  position: relative;
  background-color: #dbdbdb;
  width: 120px;
}
.banner-responsive {
  position: relative;
  overflow: hidden;
  -webkit-box-flex: 1;
  flex: 1 0 auto;
  display: -webkit-box;
  display: flex;
  z-index: 0;
}
.banner-sizer {
  -webkit-box-flex: 0;
  flex: 0 0 0px;
  padding-bottom: 27.77%;
}
.banner-content {
  -webkit-box-flex: 1;
  flex: 1 0 0px;
}
/* 【影音】Soonnet TV 列表 + 一般影片列表
   ========================================================================== */
.filter {
  display: block;
  position: relative;
}
.filter a {
  padding: 6px 10px;
  margin-right: 10px;
  background-color: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}
.filter .current {
  background-color: #2e3e4a;
  color: #fff !important;
}
.video-head {
  min-width: 20rem;
  max-width: 30rem;
}
.video-block, .image-block {
  display: block;
  position: relative;
  border-radius: inherit;
  float: left;
}
.video-thumbnail, .image-thumbnail {
  position: relative;
  background-color: #dbdbdb;
  border-radius: 4px;
  width: 120px;
}
.video-responsive, .image-responsive {
  position: relative;
  overflow: hidden;
  -webkit-box-flex: 1;
  flex: 1 0 auto;
  display: -webkit-box;
  display: flex;
  z-index: 0;
  border-radius: 4px;
}
.video-sizer, .image-sizer {
  -webkit-box-flex: 0;
  flex: 0 0 0px;
  padding-bottom: 56.25%;
}
.video-content, .image-content {
  -webkit-box-flex: 1;
  flex: 1 0 0px;
}
.layout {
  display: -webkit-box;
  display: flex;
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  flex-wrap: nowrap;
  min-width: 0;
}
.layout-flex {
  flex-basis: 100%;
  -webkit-box-flex: 0;
  flex-grow: 0;
  max-width: 100%;
}
.video-image {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.duration {
  position: absolute;
  background-color: rgba(0, 0, 0, .8);
  color: #fff;
  border-radius: 2px;
  bottom: 4px;
  right: 4px;
  padding: 2px 4px;
  line-height: 14px;
  font-size: 0.75rem;
}
.title {
  position: relative;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  white-space: normal;
  word-break: break-word;
  vertical-align: top;
}
.tag {
  position: relative;
  display: block;
  font-size: 12px;
  bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tag a {
  display: inline-flex;
  margin-right: 8px;
  padding: 2px 6px;
  background-color: #eee;
  color: #424242 !important;
  border-radius: 2px;
  margin-top: 0.25rem;
}
.subtext {
  display: block;
  font-size: 0.8125rem;
  color: #757575;
}
.published::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #28a745;
  margin-right: 2px;
}
.unpublished::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #dc3545;
  margin-right: 2px;
}
.public::before {
  content: '\f06e';
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 900;
  color: #28a745;
}
.unlisted::before {
  content: '\f070';
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 900;
  opacity: .65;
}
.private::before {
  content: '\f023';
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 900;
  opacity: .65;
}
.resolution, .file-size {
  display: block;
}
.operate-btn {
  display: block;
  color: #007bff;
}
.operate-btn:hover {
  color: #0056b3;
}
/* 【影音】精選項目
   ========================================================================== */
#featured .uploader {
  display: block;
  color: #757575;
}
/* 【影音】節目列表
   ========================================================================== */
.list-group {
  display: table-row-group !important;
}
.list-group-item {
  display: table-row !important;
}
#programme .programme-head {
  min-width: 20rem;
  max-width: 40rem;
}
#programme .programme-block {
  display: block;
  position: relative;
  border-radius: inherit;
  float: left;
}
#programme .programme-thumbnail {
  position: relative;
  background-color: #dbdbdb;
  border-radius: 4px;
  width: 150px;
}
#programme .programme-responsive {
  position: relative;
  overflow: hidden;
  -webkit-box-flex: 1;
  flex: 1 0 auto;
  display: -webkit-box;
  display: flex;
  z-index: 0;
  border-radius: 4px;
}
#programme .programme-sizer {
  -webkit-box-flex: 0;
  flex: 0 0 0px;
  padding-bottom: 56.25%;
}
#programme .programme-image {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#programme .episode {
  position: absolute;
  background-color: rgba(0, 0, 0, .8);
  color: #fff;
  border-radius: 2px;
  bottom: 4px;
  right: 4px;
  padding: 2px 4px;
  line-height: 14px;
  font-size: 0.75rem;
}
#programme .title {
  display: block;
  font-size: 1rem;
  font-weight: bold;
}
#programme .intro {
  display: block;
  color: #757575;
}
#programme .category span {
  display: block;
}
/* 【賽事】賽事列表
   ========================================================================== */
#event .remark {
  position: relative;
  display: block;
  font-size: 12px;
  bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#event .remark a {
  display: table;
  width: auto;
  margin-right: 8px;
  padding: 2px 6px;
  background-color: #eee;
  color: #424242 !important;
  border-radius: 2px;
  margin-top: 0.25rem;
}
/* 【話題】文章列表
   ========================================================================== */
#article .article-head {
  min-width: 20rem;
  max-width: 30rem;
}
#article .article-block {
  display: block;
  position: relative;
  border-radius: inherit;
  float: left;
}
#article .article-thumbnail {
  position: relative;
  background-color: #dbdbdb;
  border-radius: 4px;
  width: 120px;
}
#article .article-responsive {
  position: relative;
  overflow: hidden;
  -webkit-box-flex: 1;
  flex: 1 0 auto;
  display: -webkit-box;
  display: flex;
  z-index: 0;
  border-radius: 4px;
}
#article .article-sizer {
  -webkit-box-flex: 0;
  flex: 0 0 0px;
  padding-bottom: 56.25%;
}
.article-content {
  -webkit-box-flex: 1;
  flex: 1 0 0px;
}
.article-image {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* 【用戶】
   ========================================================================== */
#user-list .user-image, #admin-list .user-image, #blacklist .user-image {
  height: auto;
  width: 36px;
}
/* 【頁腳】
   ========================================================================== */
.status-display::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #28a745;
  margin-right: 2px;
}
.status-hidden::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #dc3545;
  margin-right: 2px;
}
/* 【廣告】
   ========================================================================== */
#ad .ad-image {
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#ad .advertiser-logo {
  width: 8rem;
  text-align: center;
}
#ad .advertiser-logo img {
  height: 50px;
}
#ad .caption {
  position: relative;
  display: block;
  font-size: 12px;
  bottom: 0;
  white-space: nowrap;
  overflow: hidden;
}
.ad-name a img {
  display: none;
  position: absolute;
  z-index: 1100;
  min-height: 90px;
  max-height: 500px;
  top: 50%;
  left: calc(100% + 1rem);
  transform: translateY(-50%);
}
.ad-name a {
  display: inline-block;
  position: relative;
}