body {
  font-family: "Helvetica Neue", Helvetica, Arial, Tahoma, sans-serif, 微軟正黑體, 微软正黑体, "Microsoft JhengHei", 微軟雅黑體, 微软雅黑体, "Microsoft YaHei", 華文黑體, 华文黑体, STHeiti, 華文細黑, 华文细黑, STXihei, "儷黑 Pro", "LiHei Pro";
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
  color: #292c32;
  margin: 0;
  padding: 0;
  background-color: #f4f6f8;
}
a {
  color: inherit;
  transition: all .1s ease;
}
a:hover {
  color: #292c32;
  text-decoration: none;
  transition: all .1s ease;
}
.divider {
  display: block;
  -webkit-box-flex: 1;
  flex: 1 1 0px;
  max-width: 100%;
  height: 0;
  max-height: 0;
  border: solid;
  border-width: thin 0 0;
  -webkit-transition: inherit;
  transition: inherit;
  border-color: #ececec;
  margin-top: 10px;
  margin-bottom: 15px;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clearfix::after {
  display: block;
  clear: both;
  content: "";
}
.wrapper {
  position: relative;
  min-height: 100%;
}
/* Custom Scroll Bar
   ========================================================================== */ ::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
::-webkit-scrollbar-track {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #dbdbdb;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #999;
}
/* 目錄
   ========================================================================== */
.header {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  z-index: 900;
  width: calc(100% - 250px);
  height: 50px;
  line-height: 50px;
  background-color: #fff;
  border-bottom: 1px solid #dbdbdb;
  margin-left: 250px;
  padding: 0 15px;
}
.header .header-nav {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header .navbar-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  list-style: none;
}
.header .nav-link {
  position: relative;
  display: block;
  padding: 0 5px;
}
.header .user-logo {
  display: block;
  position: relative;
  width: 28px;
  height: 28px;
  border-radius: 50%;
}
/* Sidebar
   ========================================================================== */
#sidebar-container {
  position: fixed;
  width: 250px;
  overflow-x: hidden;
  overflow-y: auto;
  top: 0;
  bottom: 0;
  left: 0;
  color: #c2c7d0;
  background: #2e3e4a;
  font-size: 14px;
  z-index: 1000;
  box-shadow: 0px 0px 30px 1px rgba(173, 173, 173, 0.4);
}
#sidebar-container .sidebar-logo {
  display: block;
  width: 140px;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  margin: auto;
}
#sidebar-container .sidebar-menu .menu-division {
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  border: none;
  background-color: inherit;
  color: #adadad;
  display: block;
  box-sizing: content-box;
  margin: 15px 15px 5px;
}
#sidebar-container .sidebar-menu .menu-item {
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  border: none;
  background-color: inherit;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-align: center;
  align-items: center;
}
#sidebar-container .sidebar-menu .menu-item:hover, #sidebar-container .sidebar-menu .submenu a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  transition: all .1s ease;
}
#sidebar-container .sidebar-menu .menu-collapsed {
  display: block;
}
#sidebar-container .sidebar-menu .menu-icon {
  width: 20px;
  text-align: center;
}
#sidebar-container .sidebar-menu .menu-chevron {
  margin-left: auto;
}
#sidebar-container .sidebar-menu .menu-item-link[aria-expanded="false"] .menu-chevron::after {
  content: "\f107";
  font-family: 'Font Awesome\ 5 Free';
  font-weight: bold;
  display: inline;
  text-align: right;
  padding-left: 10px;
  opacity: 0.5;
}
#sidebar-container .sidebar-menu .menu-item-link[aria-expanded="true"] .menu-chevron::after {
  content: "\f106";
  font-family: 'Font Awesome\ 5 Free';
  font-weight: bold;
  display: inline;
  text-align: right;
  padding-left: 10px;
  opacity: 0.5;
}
#sidebar-container .sidebar-menu .submenu {
  padding-left: 40px;
}
#sidebar-container .sidebar-menu .active {
  background-color: rgba(255, 255, 255, 0.1) !important;
  color: #fff;
  transition: all .1s ease;
}
/* Container
   ========================================================================== */
.container-wrapper {
  position: relative;
  margin-left: 250px;
  margin-top: 50px;
  width: calc(100% - 250px) !important;
  max-width: none;
  min-height: calc(100vh - 50px);
}
.card {
  position: relative;
  display: inline-block;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 0px 30px 1px rgba(173, 173, 173, 0.1);
}
.content-header {
  padding: 15px;
}

.breadcrumb {
	background-color: inherit;
	padding: 0;
}