/* 【影音】主頁
   ========================================================================== */
.loading .video-image {
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
  background: #e8eaec;
  background-image: linear-gradient(to right, #e8eaec 0%, #e4e6e8 20%, #e8eaec 40%, #e8eaec 100%);
  background-repeat: no-repeat;
  position: relative;
}
.loading .video-title {
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
  background: #e8eaec;
  background-image: linear-gradient(to right, #e8eaec 0%, #e4e6e8 20%, #e8eaec 40%, #e8eaec 100%);
  background-repeat: no-repeat;
  position: relative;
  width: 95% !important;
  height: 1rem !important;
}
.loading .video-user {
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
  background: #e8eaec;
  background-image: linear-gradient(to right, #e8eaec 0%, #e4e6e8 20%, #e8eaec 40%, #e8eaec 100%);
  background-repeat: no-repeat;
  position: relative;
  width: 30% !important;
  height: 1rem !important;
  display: inline-block !important;
}
.loading .video-duration {
	display: none;
}
.loading .programme {
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
  background: #e8eaec;
  background-image: linear-gradient(to right, #e8eaec 0%, #e4e6e8 20%, #e8eaec 40%, #e8eaec 100%);
  background-repeat: no-repeat;
  position: relative;
  width: 100% !important;
  padding-bottom: 56.25%;
}
.loading .video-info {
  display: grid !important;
}
.loading .video-upload-date {
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
  background: #e8eaec;
  background-image: linear-gradient(to right, #e8eaec 0%, #e4e6e8 20%, #e8eaec 40%, #e8eaec 100%);
  background-repeat: no-repeat;
  position: relative;
  width: 20% !important;
  height: 1rem !important;
}
/* 【影音】節目列表
   ========================================================================== */
.loading .programme-image {
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
  background: #e8eaec;
  background-image: linear-gradient(to right, #e8eaec 0%, #e4e6e8 20%, #e8eaec 40%, #e8eaec 100%);
  background-repeat: no-repeat;
  position: relative;
}
.loading .programme-info {
	width: 100%;
	display: block;
}
.loading .programme-title {
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
  background: #e8eaec;
  background-image: linear-gradient(to right, #e8eaec 0%, #e4e6e8 20%, #e8eaec 40%, #e8eaec 100%);
  background-repeat: no-repeat;
  position: relative;
  width: 40% !important;
  height: 1rem !important;
}
.loading .programme-intro {
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
  background: #e8eaec;
  background-image: linear-gradient(to right, #e8eaec 0%, #e4e6e8 20%, #e8eaec 40%, #e8eaec 100%);
  background-repeat: no-repeat;
  position: relative;
  width: 95% !important;
  height: 1rem !important;
}
.loading .programme-last-updated {
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
  background: #e8eaec;
  background-image: linear-gradient(to right, #e8eaec 0%, #e4e6e8 20%, #e8eaec 40%, #e8eaec 100%);
  background-repeat: no-repeat;
  position: relative;
  width: 30% !important;
  height: 1rem !important;
}
.loading .programme-episode {
  display: none;
}
@keyframes placeHolderShimmer {
  0% {
    background-position: -480px 0;
  }
  100% {
    background-position: 480px 0;
  }
}