/* 【影音】主頁
   ========================================================================== */
.loading .video-image {
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
  background: #e8eaec;
  background-image: linear-gradient(to right, #e8eaec 0%, #e4e6e8 20%, #e8eaec 40%, #e8eaec 100%);
  background-repeat: no-repeat;
  position: relative;
}
.loading .video-title {
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
  background: #e8eaec;
  background-image: linear-gradient(to right, #e8eaec 0%, #e4e6e8 20%, #e8eaec 40%, #e8eaec 100%);
  background-repeat: no-repeat;
  position: relative;
  width: calc(100% - 1.5rem) !important;
  height: 1rem !important;
}
.loading .video-user {
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
  background: #e8eaec;
  background-image: linear-gradient(to right, #e8eaec 0%, #e4e6e8 20%, #e8eaec 40%, #e8eaec 100%);
  background-repeat: no-repeat;
  position: relative;
  width: calc(50% - 0.75rem) !important;
  height: 1rem !important;
}
.loading .video-user {
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
  background: #e8eaec;
  background-image: linear-gradient(to right, #e8eaec 0%, #e4e6e8 20%, #e8eaec 40%, #e8eaec 100%);
  background-repeat: no-repeat;
  position: relative;
  width: calc(50% - 0.75rem) !important;
  height: 1rem !important;
  display: inline-block !important;
}
.loading .programme {
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
  background: #e8eaec;
  background-image: linear-gradient(to right, #e8eaec 0%, #e4e6e8 20%, #e8eaec 40%, #e8eaec 100%);
  background-repeat: no-repeat;
  position: relative;
  width: 100% !important;
  padding-bottom: 56.25%;
}
.loading .video-info {
  display: grid !important;
}
.loading .video-upload-date {
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
  background: #e8eaec;
  background-image: linear-gradient(to right, #e8eaec 0%, #e4e6e8 20%, #e8eaec 40%, #e8eaec 100%);
  background-repeat: no-repeat;
  position: relative;
  width: 25% !important;
  height: 1rem !important;
}
@keyframes placeHolderShimmer {
  0% {
    background-position: -480px 0;
  }
  100% {
    background-position: 480px 0;
  }
}