/* 登入 / 註冊頁面
   ========================================================================== */
.login {
  margin: auto;
}
.login-box, .register-box {
  margin: auto;
  font-size: 0.9375rem;
}
.login h1, .register h1 {
  text-align: center;
  font-weight: 700;
  color: #292c32;
}
.login-card-body, .register-card-body {
  padding: 50px;
}
.fb-login-button {
  background-color: #1877f2;
  color: #fff;
}
.fb-login-button:hover {
  background-color: #1464cc;
}
.login-box a:not(.fb-login-button) {
  color: #26ad5e;
}
.additional {
  margin: 10px 0;
}
.additional-row {
  display: -webkit-box;
  display: flexbox;
  display: flex;
  -webkit-box-align: center;
  flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  flex-pack: center;
  justify-content: center;
  position: relative;
  margin-bottom: 15px;
  color: #bdbdbd;
}
.additional-row::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #dbdbdb;
  position: absolute;
  top: 50%;
  left: 0;
}
.additional-text {
  z-index: 1;
  position: relative;
  display: inline-block;
  padding: 0 16px;
  color: #bec8d2;
  text-align: center;
  background-color: #fff;
  font-size: 0.875rem;
}
/* 忘記密碼頁面
   ========================================================================== *//* 登入 / 註冊頁面
   ========================================================================== */
.login {
  margin: auto;
}
.login-box, .register-box {
  margin: auto;
  font-size: 0.9375rem;
}
.login h1, .register h1 {
  text-align: center;
  font-weight: 700;
  color: #292c32;
}
.login-card-body, .register-card-body {
  padding: 50px;
}
.fb-login-button {
  background-color: #1877f2;
  color: #fff;
}
.fb-login-button:hover {
  background-color: #1464cc;
}
.login-box a:not(.fb-login-button) {
  color: #26ad5e;
}
.additional {
  margin: 10px 0;
}
.additional-row {
  display: -webkit-box;
  display: flexbox;
  display: flex;
  -webkit-box-align: center;
  flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  flex-pack: center;
  justify-content: center;
  position: relative;
  margin-bottom: 15px;
  color: #bdbdbd;
}
.additional-row::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #dbdbdb;
  position: absolute;
  top: 50%;
  left: 0;
}
.additional-text {
  z-index: 1;
  position: relative;
  display: inline-block;
  padding: 0 16px;
  color: #bec8d2;
  text-align: center;
  background-color: #fff;
  font-size: 0.875rem;
}
/* 忘記密碼頁面
   ========================================================================== */