@charset "utf-8";
/* CSS Document */

.soonbtnbase {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: "Noto Sans", "Microsoft JhengHei", "Arial Unicode MS", "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
  color: #ffffff;
  font-size: 16px;
  padding: 5px 25px 5px 25px;
  text-decoration: none;
}


.soonbtnbase_mid {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: "Noto Sans", "Microsoft JhengHei", "Arial Unicode MS", "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
  color: #ffffff;
  font-size: 16px;
  padding: 5px 40px 5px 40px;
  text-decoration: none;
}

.soonbtnbase_long {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: "Noto Sans", "Microsoft JhengHei", "Arial Unicode MS", "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
  color: #ffffff;
  font-size: 16px;
  padding: 5px 60px 5px 60px;
  text-decoration: none;
}

 .bluebtn {
	background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  }

.bluebtn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.violetbtn {
  background: #883388;
  background-image: -webkit-linear-gradient(top, #883388, #661166);
  background-image: -moz-linear-gradient(top, #883388, #661166);
  background-image: -ms-linear-gradient(top, #883388, #661166);
  background-image: -o-linear-gradient(top, #883388, #661166);
  background-image: linear-gradient(to bottom, #883388, #661166);
    text-decoration: none;
  }

.violetbtn:hover {
  background: #aa55aa;
  background-image: -webkit-linear-gradient(top, #aa55aa, #772277);
  background-image: -moz-linear-gradient(top, #aa55aa, #772277);
  background-image: -ms-linear-gradient(top, #aa55aa, #772277);
  background-image: -o-linear-gradient(top, #aa55aa, #772277);
  background-image: linear-gradient(to bottom, #aa55aa, #772277);
  text-decoration: none;
}


.cherrybtn {
  background: #E51572;
  background-image: -webkit-linear-gradient(top, #E51572, #cc0066);
  background-image: -moz-linear-gradient(top, #E51572, #cc0066);
  background-image: -ms-linear-gradient(top, #E51572, #cc0066);
  background-image: -o-linear-gradient(top, #E51572, #cc0066);
  background-image: linear-gradient(to bottom, #E51572, #cc0066);
    text-decoration: none;
  }

.cherrybtn:hover {
  background: #ff2288;
  background-image: -webkit-linear-gradient(top, #ff2288, #dd1166);
  background-image: -moz-linear-gradient(top, #ff2288, #dd1166);
  background-image: -ms-linear-gradient(top, #ff2288, #dd1166);
  background-image: -o-linear-gradient(top, #ff2288, #dd1166);
  background-image: linear-gradient(to bottom, #ff2288, #dd1166);
  text-decoration: none;
}

.btnimage{
vertical-align:middle;	
}

.btnnoborder{
border:none;
}

.LokShootbar{
	height:60px;
	margin-bottom:10px;
	    border: 1px solid #E7E7E7;
		padding: 10px;
}


