#Lok_Left_Layer {
  /*border: 1px solid #7a7a7a;*/
  width: 70%;
  float: left;
  min-width: 1010px;
}
#Lok_Right_Layer {
  /*border: 1px solid #0F0;*/
  width: 29%;
  float: right;
}
.MarathonInside {
  width: auto;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  white-space: nowrap;
}
/*-------------------------------Box*/
#LeftOnecontainer {
  padding: 5px;
}
#LeftTwocontainer {
  /*---add on 20150326 Start---*/
  margin-top: 60px;
  /*---add on 20150326 End---*/
  padding: 5px;
}
.LevelTwoTitle {
  border-bottom: 3px solid #F50;
}
.Font001 {
  background-color: #F00;
}
/*-------------------------------Box2*/
#zSlider {
  margin: 0px auto;
  overflow: hidden;
  display: list-item;
}
#picshow {
  position: relative;
  float: left;
  margin-right: 20px;
}
#picshow, #picshow_img {
  width: 700px;
  height: 440px;
  overflow: hidden;
}
#picshow_img li {
  width: 700px;
  height: 440px;
  overflow: hidden;
  display: none;
}
#picshow_img img {
  width: 700px;
  height: 440px;
}
#picshow_tx {
  left: 0px;
  width: 700px;
  bottom: 0px;
  position: absolute;
  height: 90px;
  overflow: hidden;
}
#picshow_tx li {
  background: url(../images/picshow_bg.png) repeat;
  padding: 10px 30px;
  height: 70px;
  color: #fff;
  display: none;
}
#picshow_tx li a {
  color: #fff;
}
#picshow_tx li a:hover {
  text-decoration: underline;
}
#picshow_tx li h3 {
  margin: 13px 0;
}
#picshow_tx li p {
  color: #ccc;
  line-height: 16px;
  height: 16px;
  overflow: hidden;
}
#select_btn {
  width: 30%;
  height: 440px;
  color: #111;
  display: inline;
  background-color: #f0f0f0;
}
#select_btn li {
  padding: 9px 11px 0px 9px;
  height: 64px;
  border-top: 1px solid #fff;
  cursor: pointer;
  background-color: #f0f0f0;
}
#select_btn li:hover {
  background-color: #fff;
}
#select_btn li.current {
  background-color: #fff;
}
#select_btn li.current:hover {
  background-color: #fff;
}
#select_btn a {
  color: #000;
}
#select_btn img {
  padding: 2px;
  border: 1px solid #ccc;
  width: 70px;
  height: 49px;
  margin-right: 10px;
  float: left;
}
#select_btn .select_text {
  height: 20px;
  font: bold 13px/16px 'Microsoft YaHei';
  overflow: hidden;
  display: block;
}
#select_btn .select_text:hover {
  text-decoration: underline;
}
#select_btn .select_date {
  line-height: 18px;
  overflow: hidden;
  display: block;
}
.LevelThreeBody {
  /*border: 1px solid #F00;*/
}
.ThreeBodyItem {
  text-align: -webkit-match-parent;
  margin: 0 auto;
}
.LevelThreeInside {
  padding-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
}
.ThreeBodyItem li {
  float: left;
  list-style-type: none;
  display: list-item;
  text-align: -webkit-match-parent;
  margin-right: 10px;
}
.ThreeBodyItem .LiFont {
  color: #FEFEFE;
  font-size: 16px;
  padding: 10px;
  background-color: #DC5467;
}
.ThreeBodyLists {
  margin-top: 20px;
}
.ListsPhoto {
  position: relative;
  float: left;
  margin-right: 20px;
  z-index: 1;
}
.ListsPhotoFont {
  font-size: 14px;
  color: #717071;
  line-height: 24px;
}
.ListsContent {
  padding-top: 22px;
  position: relative;
}
.ListsContent a, .ListsContentTitle {
  color: #ff6f00;
}
.ListsContentSummary {
  width: auto;
  display: block;
  margin-top: 10px;
  font-size: 14px;
  color: #221814;
  line-height: 22px;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 110px;
}
.ListsContentDetail {
  font-size: 12px;
  color: #1C1F87;
  float: right;
  margin-top: -14px;
}
.ListsLine {
  margin-top: 15px;
  margin-bottom: 15px;
  border-bottom: 1px inset #ccc;
}
/*---------------------------------------------------------------[Right]*/
.LevelOneBody {
  border-top: 1px solid #ccc;
}
.LevelOneBody ul {
  padding-left: 15px;
}
.LevelOneBody li {
  float: left;
  list-style-type: none;
  display: list-item;
  text-align: -webkit-match-parent;
  margin-right: 15px;
  margin-top: 15px;
}
.TwoFont {
  font-size: 18px;
  color: #221814;
}
.TwoDateFont {
  line-height: 24px;
  font-size: 14px;
  color: #888889;
}
.LevelTwoBody li {
  padding: 10px;
  border-bottom: 1px inset #ccc;
}
.LevelThreeBody li {
  padding-bottom: 5px;
  padding-top: 5px;
}
.LevelFourBody li {
  border-bottom: 1px inset #ccc;
  margin-top: 10px;
  margin-bottom: 10px;
}
.LevelFourPhoto {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 48px;
  height: 48px;
}
.LevelFourName {
  font-size: 16px;
  color: #888889;
}
.LevelFourDate {
  font-size: 12px;
  color: #888889;
  line-height: 16px;
}
.LevelFourMessage {
  color: #221814;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.Font002 {
  background-color: #f60;
}
.LokNavigationSeachCAR {
  float: left;
  padding-left: 20px;
  padding-top: 6px;
  padding-bottom: 5px;
  background: #FFF; /*	
width:418px;

margin: 0 auto;
max-width: 1560px;*/
}
.LokNavigationSeachCAR #Search-text {
  width: 150px;
  font-size: 14px;
  color: #333;
  border-width: 1px;
  border-color: #DDDDDD;
  background: #F7F7F7;
  padding: 7px;
  padding-top: 4px;
}
.carlogo {
  padding-top: 10px;
}

/* 20190827 */
.iOSPage_list a, .iOSPage_list strong, .iOSPage_listb a {
  background: #ff6f00;
}
.iOSPage_list a:hover, .iOSPage_listb a:hover {
  background: #e56400;
}
.iOSPage_list .pagenumber:hover {
    background-color: #eee;
}

/*---------------------Footer有關的CSS 開始---------------------*/
#Lok_Footer {
    background-color: #333;
    padding: 25px 0 30px;
}
footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    color: #eee;
    margin: auto;
}
footer a {
    color: #eee;
}
.footerContainer {
  display: flex;
}
.footerContainer > div {
  flex: 1;
}
.fullbody {
    min-height: 100%;
    position: relative;
    height: auto !important;
    height: 100%;
}
footer .footerlogo {
    display: inline;
    float: left;
    width: 112px;
    height: 32px;
    background: url(../../SGL_Images/common-icon.png) no-repeat right top;
    background-size: 900px 600px;
}
footer .copyright {
    line-height: 1.5;
    color: #c9c9c9;
    text-align: center;
}

footer .sns {
    float: left;
    padding-top: 3px;
}
footer .facebook, footer .twitter {
    display: inline;
    float: left;
    margin-right: 3px;
}
footer .youtube {
    display: inline-block;
    float: left;
}
footer a:hover {
    color: #fff;
}
footer select {
    font-family: "微軟正黑體", Helvetica, Arial, sans-serif;
    border: none;
    border-radius: 40px;
    padding: 7px 20px;
    color: #333333;
    background-color: #d2d2d2;
    min-width: 150px;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    background: url(../../SGL_Images/dropdown_arrow.png) no-repeat right #d2d2d2;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position-x: 90%;
    float: left;
    margin-right: 30px;
}
footer select option {
    position: absolute;
    bottom: 35px;
    left: 0;
    right: 0;
    background-color: #fff;
    border-radius: 3px;
    margin: 0;
    padding: 5px 0;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2);
    text-align: left;
    list-style: none;
    font-size: 12px;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity 300ms;
    transition: opacity 300ms;
    background: url(../../SGL_Images/dropdown_arrow.png);
}
#footerlinks {
    width: 800px;
    padding: 15px 0 35px;
    margin: 0px auto;
    position: relative;
    text-align: center;
}
#footerlinks span {
    position: relative;
    display: inline-block;
    width: 13%;
    text-align: center;
}
#copyright {
    padding: 10px;
    margin: 0px auto;
    text-align: center;
}
#footerother {
    padding: 10px;
    margin: 0px auto;
    text-align: center;
}
.aboutus, .servicerule, .privacyrule, .copyrightrule {
    font-size: 15px;
    line-height: 18px;
    width: 80%;
    padding: 20px;
    margin: 0 auto;
}
.aboutus h1, .servicerule h1, .privacyrule h1, .copyrightrule h1 {
    font-size: 48px;
    color: #060;
}
.aboutus h2, .servicerule h2, .privacyrule h2, .copyrightrule h2 {
    background: #690;
    font-size: 24px;
    padding: 5px;
    color: #fff;
}
.aboutus h3, .servicerule h3, .privacyrule h3, .copyrightrule h3 {
    background: #aa0;
    font-size: 18px;
    padding: 5px;
    color: #fff;
}
.aboutus strong, .servicerule strong, .privacyrule strong, .copyrightrule strong {
    font-size: 16px;
}
.aboutus li, .servicerule li, .privacyrule li, .copyrightrule li {
    line-height: 24px;
}
#contactus {
    margin-left: 15px;
    width: 480px;
    vertical-align: middle;
    font-size: 14px;
}
#contactus h1 {
    width: 200px;
}
#contactus .hotline {
    color: #090;
    font-weight: 900;
    font-size: 16px;
}
#contactus .qrcode {
    padding: 5px;
    background: #0a0;
    color: #fff;
    border-radius: 20px;
    width: 120px;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 3px;
}
#contactus .advert, #contactus .somedia {
    height: 24px;
    font-size: 17px;
    font-weight: 900;
    padding-right: 30px;
    padding-left: 30px;
    background: #0a0;
    color: #fff;
    border-radius: 20px;
    width: 120px;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 3px;
}
.contactlightdiv {
    padding-right: 10px;
    display: inline-block;
    vertical-align: top;
    width: 46%;
}
.contactlightqr1div {
    display: inline-block;
    width: 30%;
    float: left;
}
.contactlightqr2div {
    display: inline-block;
    width: 30%;
    position: absolute;
    right: 33%;
}
.contactlightqr3div {
    display: inline-block;
    width: 30%;
    float: right;
}
#contactus img {
    vertical-align: middle;
}
.conopacity {
    opacity: 0;
    filter: alpha(opacity=0);
}
.imgqrcode {
    border: #000 1px solid;
    width: 120px;
    height: 120px;
}
/*---Footer有關的CSS 完結--*/

/* url-prefix */
@-moz-document url-prefix() {
  .LokNavigationSeachMAR #Search-text {
    font-size: 12px;
  }
}
.LokNavigationSeachCAR #Search-button {
  height: 29px;
  width: 75px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  line-height: 30px;
  border-width: 0;
  border-left: 1px solid #aaa;
  -webkit-border-radius: 0px 3px 2px 0px;
  -moz-border-radius: 0px 3px 2px 0px;
  border-radius: 0px 3px 2px 0px;
  /*    background: -moz-linear-gradient(top, #289b25 0%, #289b25);
    background: -webkit-gradient(linear, left top, left bottom, from(#289b25), to(#289b25));*/
  -webkit-box-shadow: -4px 0px 3px -2px #ddd;
  -moz-box-shadow: -4px 0px 3px -2px #ddd;
  box-shadow: -4px 0px 3px -2px #ddd;
  cursor: pointer;
  background: #FF6611 url(../C_Images/searchbutton.png) no-repeat center center;
}
.LokNavigationSeachCAR #Search-button:hover {
  background: #f66 url(../C_Images/searchbutton.png) no-repeat center center;
}
.LokNavigationSeachCAR button {
  height: 40px;
  width: 90px;
  font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma', "Noto Sans", "Microsoft JhengHei", "Arial Unicode MS", "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
  color: #fff;
  text-transform: uppercase;
}
.LokNavigationSeachCAR button:hover {}
.LokNavigationSeachCAR button:active, .LokNavigationSeach button:focus {
  background: #c42f2f;
}
.LokNavigationSeachCAR button:before {
  content: '';
  position: absolute;
  border-width: 8px 8px 8px 0;
  border-style: solid solid solid none;
  border-color: transparent #FF6611 transparent;
  top: 6px;
  left: -6px;
}
.LokNavigationSeachCAR button:hover:before {
  border-right-color: #f66;
}
.LokNavigationSeachCAR button:focus:before {
  border-right-color: #FF6611;
}
.LokNavigationSeachCAR button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
#LokNavigationMenu {
  height: 40px;
  background: #FF6611;
}
.NorthPhotoBody, .SouthPhotoBody, .HKPhotoBody {
  width: 100%;
  background: #EEE;
  border-left: #F61 3px solid;
}
.NorthPhotoBody ul, .SouthPhotoBody ul, .HKPhotoBody ul {
  margin-left: 0.75%;
}
.NorthPhotoBody ul li, .SouthPhotoBody ul li, .HKPhotoBody ul li {
  display: inline-block;
  padding: 6px;
  background-color: #FFF;
  border: #DDD 1px dotted;
  /*margin-right:6px;*/
  margin-bottom: 8px;
  padding-bottom: 42px;
  margin-top: 4px;
  box-shadow: 5px 5px 5px #DDD;
  /*text-align: center;*/
  vertical-align: bottom;
  font-size: 14px;
  margin-left: 1%;
  margin-right: 1%;
  width: 213px;
}
.NorthPhotoBody ul li img, .SouthPhotoBody ul li img, .HKPhotoBody ul li img {}
.WhiteBack {}
#AlbumInfoId {
  list-style-type: none;
  position: relative;
  padding: 0;
}
#AlbumInfoId .AlbumInfoBox {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: -40px;
  display: block;
  opacity: 1;
  line-height: 18px;
  padding: 4px;
  color: #333;
  background: #FFF;
}
#LokAutoimg img {
  width: 212px;
  height: 212px;
}
.righter {
  float: right;
  margin-right: 0;
  font-size: 20px;
  font-weight: 900;
}
.carcolor {
  background: #f61;
  color: #FFF;
  padding: 5px;
  padding-left: 20px;
  box-shadow: inset #FFFF00 1px 1px 3px;
  border-radius: 30px 0 0 0;
  animation-name: example;
  animation-duration: 4s;
}
.carcolor a {
  color: #FFF;
}
.carcolor:hover {
  background: #fA2;
  color: #EDD;
}
/*--edited 20150316-0900 start--*/
.bigslideboxQQQ {
  -moz-box-shadow: inset 0 0 20px #fff;
  -o-box-shadow: inset 0 0 20px #fff;
  -webkit-box-shadow: inset 0 0 20px #fff;
  box-shadow: inset 0 0 20px #fff;
  background: url(../../SGL_Images/carback.png) repeat-x, -webkit-linear-gradient(#fff, #F30, #FA0, #FFF); /* For Safari 5.1 to 6.0 */
  background: url(../../SGL_Images/carback.png) repeat-x, -o-linear-gradient(#fff, #F30, #FA0, #FFF); /* For Opera 11.1 to 12.0 */
  background: url(../../SGL_Images/carback.png) repeat-x, -moz-linear-gradient(#fff, #F30, #FA0, #FFF); /* For Firefox 3.6 to 15 */
  background: url(../../SGL_Images/carback.png) repeat-x, linear-gradient(#fff, #F30, #FA0, #FFF); /* Standard syntax */
  width: 100%;
}
/*--edited 20150316-0900 end--*/
.SelectedFont {
  color: #FFF;
  background-color: #f60;
}
.tinyslidebox {
  width: 808px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5px;
  height: 508px;
}
.flex-control-nav {
  margin-top: -100px;
}
.cutcutcut {
  position: relative;
  width: 450px;
  height: 450px;
  overflow: hidden;
}
.cutcutcut img {
  margin-top: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.cutcutthumb {
  position: relative;
  width: 49px;
  height: 49px;
  overflow: hidden;
}
.cutcutthumb img {}
#picshow, #picshow_img {
  width: 440px;
  height: 440px;
  overflow: hidden;
}
.rightleftcorncer {
  font-size: 12px;
  float: right;
  margin-top: -14px;
}
.ConcordeDetailBtn {
  font-size: 12px;
  color: #1C1F87;
  float: right;
  margin-top: -14px;
}
.ShareDetailBtn {
  font-size: 12px;
  color: #1C1F87;
  float: right;
  margin-top: -14px;
}
.smallbtn {
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 28px;
  font-family: "Noto Sans", "Microsoft JhengHei", "Arial Unicode MS", "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
  color: #666;
  font-size: 12px;
  text-decoration: none;
  border: #ddd 1px solid;
  margin-right: 10px;
}
.whitebtn {
  background-image: -webkit-linear-gradient(left, #ffffff, #eeeeee);
  background-image: -moz-linear-gradient(left, #ffffff, #eeeeee);
  background-image: -ms-linear-gradient(left, #ffffff, #eeeeee);
  background-image: -o-linear-gradient(left, #ffffff, #eeeeee);
  background-image: linear-gradient(left, #ffffff, #eeeeee);
  padding: 0px 10px 0px 10px;
}
.detailbtn {}
.sharebtn {
  background: url(../SGL_Images/IconShare_black.png) no-repeat 15% 50%, -webkit-linear-gradient(left, #ffffff, #eeeeee);
  background: url(../SGL_Images/IconShare_black.png) no-repeat 15% 50%, -moz-linear-gradient(left, #ffffff, #eeeeee);
  background: url(../SGL_Images/IconShare_black.png) no-repeat 15% 50%, -ms-linear-gradient(left, #ffffff, #eeeeee);
  background: url(../SGL_Images/IconShare_black.png) no-repeat 15% 50%, -o-linear-gradient(left, #ffffff, #eeeeee);
  background: url(../SGL_Images/IconShare_black.png) no-repeat 15% 50%, linear-gradient(left, #ffffff, #eeeeee);
  padding: 0px 10px 0px 20px;
}
#sharenav {
  list-style: none;
  float: right; /* Clear floats */
  position: relative;
  margin-top: -5px;
}
#sharenav li {
  float: right;
  margin-right: 2px;
  position: relative;
  display: block;
  color: #fff;
  text-decoration: none;
}
#sharenav a {}
#sharenav a:hover {}
/*--- DROPDOWN ---*/
#sharenav ul {
  list-style: none;
  position: absolute;
  left: -9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
  bottom: 100%;
}
#sharenav ul li {
  padding-top: 1px; /* Introducing a padding between the li and the a give the illusion spaced items */
  float: none;
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
  background: -webkit-linear-gradient(left, #ffffff, #eeeeee);
  background: -moz-linear-gradient(left, #ffffff, #eeeeee);
  background: -ms-linear-gradient(left, #ffffff, #eeeeee);
  background: -o-linear-gradient(left, #ffffff, #eeeeee);
  background: linear-gradient(left, #ffffff, #eeeeee);
  width: 100%;
  margin-left: -50%;
  text-align: center;
  border: #ddd 1px solid;
}
#sharenav ul a {
  white-space: nowrap; /* Stop text wrapping and creating multi-line dropdown items */
}
#sharenav li:hover ul { /* Display the dropdown on hover */
  left: 0; /* Bring back on-screen when needed */
}
#sharenav li:hover a { /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
  margin-top: -1px;
}
#sharenav li:hover ul a { /* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
  text-decoration: none;
}
.icon-facebook-sign {
  color: #00f;
}
.icon-twitter {
  color: #7Cf;
}
.icon-weibo {
  color: #f00;
}
.icon-facebook-sign:hover {
  color: #BB0;
}
.icon-twitter:hover {
  color: #BB0;
}
.icon-weibo:hover {
  color: #BB0;
}
#sharenav li:hover ul li a {}
#sharenav li:hover ul li a:hover { /* Here we define the most explicit hover states--what happens when you hover each individual link. */
}
.AlbumTitle {
  white-space: nowrap;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
  width: 205px;
}
@media screen and (max-width: 1500px) {
  #Lok_Left_Layer {
    /*border: 1px solid #7a7a7a;*/
    width: 60%;
    float: left;
    min-width: 810px;
  }
  #Lok_Right_Layer {
    /*border: 1px solid #0F0;*/
    width: 35%;
    float: right;
  }
  .lastalbum {
    /*visibility:collapse;*/
  }
}
@media screen and (max-width: 1300px) {
  #Lok_Right_Layer {
    /*border: 1px solid #0F0;*/
    width: 30%;
    float: right;
  }
  .lastalbum {
    /*visibility:collapse;*/
  }
}
@media screen and (max-width: 1200px) {
  #Lok_Right_Layer {
    /*border: 1px solid #0F0;*/
    width: 24%;
    float: right;
  }
  .lastalbum {
    /*visibility:collapse;*/
  }
}