@charset "utf-8";
/* CSS Document */
body {}
#LokNavigationBar {
  display: none;
}
form {
  height: auto;
}
#Bodyheight, .advertisingrule {
  margin-top: 120px !important;
}
#HrBar {
  display: none;
}
#event-tw-2019-popup {
  top: 120px;
}
.LokNavigationPadding {
  padding-top: 0;
}
.PpppDiv {
  padding-top: 0 !important;
}
/* Header Menu
   ========================================================================== */
.header {
  position: -webkit-sticky;
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  min-width: 1152px;
  height: 100px;
  line-height: 100px;
  background-color: #fff;
  box-shadow: 0px 0px 30px 1px rgba(173, 173, 173, 0.4);
  font-size: 1rem;
  -webkit-transition: .5s all;
  transition: .5s all;
  color: #292c32;
}
.header.shrink {
  height: 50px;
  line-height: 50px;
  -webkit-transition: .5s all;
  transition: .5s all;
  font-size: 0.9375rem;
  opacity: .95;
}
.header .header-nav {
  padding: 0px 100px;
  margin: 0 auto;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.header .header-nav, .header .header-left, .header .header-right {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex-wrap: nowrap;
}
.header ul {
  margin: 0;
}
.header .header-logo {
  margin: 0;
  line-height: 1rem;
}
.header .header-logo a {
  display: block;
  width: 150px;
  height: auto;
  overflow: hidden;
}
.header .header-menu {
  margin-left: 60px;
}
.header .header-menu .header-menu-item {
  float: left;
  margin-right: 60px;
}
.header .header-menu .header-menu-link {
  position: relative;
  display: block;
  padding: 0;
  letter-spacing: 0.02rem;
  color: inherit;
}
.header .header-menu .header-menu-link:hover, .header .header-menu li.current a {
  color: #31c66c;
}
.header .header-menu .header-menu-link:hover::after, .header .header-menu li.current a::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background-color: #31c66c;
}
.header .user-menu .header-menu-item {
  float: left;
  margin-left: 60px;
  position: relative;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
}
.header .user-menu .header-menu-item a {
  color: #ccc;
  opacity: 1;
}
.header .user-menu .header-menu-item a:hover {
  opacity: 0.8;
}
.header .user img {
  width: 40px;
  height: 40px;
}
.header .user-logo {
  display: block;
  position: relative;
  border-radius: 50%;
}
.header .upload {}
/* Search */
.search {
  position: relative;
  float: right;
}
.search form {
  position: relative;
}
.search input {
  display: block;
  padding: 0 30px 0 20px;
  line-height: 35px;
  border-radius: 30px;
  border: 1px solid #dbdbdb;
  width: 240px;
  height: 35px;
  font-size: 0.875rem;
}
.search button[type=submit] {
  position: absolute;
  right: 0.5rem;
  top: 0;
  border: 0;
  background-color: transparent;
  height: 35px;
  width: 35px;
  line-height: 35px;
  color: #ccc;
  cursor: pointer;
  opacity: 1;
}
.search button[type=submit]:hover {
  opacity: 0.8;
}
/* Header responsive */
@media (max-width: 1856px) {
  .header .header-menu, .header .header-menu .header-menu-item {
    margin-right: 50px;
  }
  .header .header-menu, .header .user-menu .header-menu-item {
    margin-left: 50px;
  }
}
@media (max-width: 1728px) {
  .header .header-menu, .header .header-menu .header-menu-item {
    margin-right: 45px;
  }
  .header .header-menu, .header .user-menu .header-menu-item {
    margin-left: 45px;
  }
}
@media (max-width: 1664px) {
  .header .header-nav {
    padding: 0px 80px;
  }
  .header-dropdown {
    margin-right: 80px !important;
  }
}
@media (max-width: 1600px) {
  .header .header-menu, .header .header-menu .header-menu-item {
    margin-right: 40px;
  }
  .header .header-menu, .header .user-menu .header-menu-item {
    margin-left: 40px;
  }
}
@media (max-width: 1536px) {
  .header .header-nav {
    padding: 0px 60px;
  }
  .header-dropdown {
    margin-right: 60px !important;
  }
  .search input {
    width: 200px;
  }
}
@media (max-width: 1472px) {
  .header .header-menu, .header .header-menu .header-menu-item {
    margin-right: 35px;
  }
  .header .header-menu, .header .user-menu .header-menu-item {
    margin-left: 35px;
  }
}
@media (max-width: 1408px) {
  .search {
    display: none;
  }
}
@media (max-width: 1216px) {
  .header .header-nav {
    padding: 0px 40px;
  }
  .header-dropdown {
    margin-right: 40px !important;
  }
}
/* Menu
   ========================================================================== */
.header-dropdown {
  position: absolute;
  float: right;
  top: 115px;
  right: 0;
  margin: 0;
  padding: 15px 0;
  height: auto;
  z-index: 700;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 3px 5px 0 rgba(173, 173, 173, 0.4);
  overflow: auto;
  font-size: 15px;
  width: 200px;
  transition: transform 75ms ease-out, opacity 75ms ease-out;
  transition: transform 75ms ease-out, opacity 75ms ease-out, -webkit-transform 75ms ease-out;
  margin-right: 100px;
}
.obsolete-login-box {
  padding: 15px;
  line-height: 1.5;
  width: 300px;
}
.obsolete-login-box a:not(.btn) {
  color: #26ad5e;
}
.dropdown-menu-item a {
  padding: 0 20px;
  display: block;
  line-height: 40px;
}
.dropdown-menu-item i {
  color: #999;
}
.dropdown-menu-item a:hover {
  color: #27ae60;
}
.dropdown-menu-item a:hover i {
  color: #27ae60;
}
/* Social Platform Float Button
   ========================================================================== */
#social-block {
  position: fixed;
  top: 50%;
  left: 0;
  width: 40px;
  height: auto;
  z-index: 900;
}
#social-block .social-btn {
  float: left;
  width: 40px;
  height: 40px;
  background: #2e3e4a;
  text-align: center;
}
#social-block .social-icon {
  position: relative;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  color: #dbdbdb;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
#social-block .facebook {
  font-size: 18px;
}
#social-block .instagram {
  font-size: 20px;
}
#social-block .youtube {
  font-size: 18px;
}
#social-block .facebook:hover {
  font-size: 22px;
}
#social-block .instagram:hover {
  font-size: 24px;
}
#social-block .youtube:hover {
  font-size: 22px;
}
/* Back to Top
   ========================================================================== */
.backtop-btn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
  z-index: 900;
  background: #fff;
  text-align: center;
  border-radius: 50%;
  color: #2e3e4a;
  font-size: 20px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.12);
}
.backtop-btn .backtop-icon {
  position: relative;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  color: #2e3e4a;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}